<footer>
    <h1>lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis facilis exercitationem rem maiores dolor deserunt, veritatis aspernatur animi soluta quas impedit autem, minima, blanditiis in quos. Cumque vero inventore sapiente.</p>
</footer>   